/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
body {
    max-width: 75%;
    margin: 30px auto;
}


.width-1-2 {
    width: 48.99%;
}

:root {
    --primary-color : #FF7F3E;
    --text-color : #474747;
}

/* Header css */
.header {
    
    position: fixed;
    top: 0;
    width: 1200px;
    height: 50px;
    z-index: 5;
    background-color: #FFF;
   
}
.ds-header-inner{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header-logo {
    display: flex ;
        align-items: center;
}
.header-logo .icon {
   display: inline-block;
    background-color: #000;
    color : #fff;
    padding: 0 12px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
}

.header-logo .name {
    font-weight: 600;
}

.header-social {
    display: flex ;
        align-items: center;
        flex-wrap: wrap;
}

.header-social i {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 0 6px;
    line-height: 24px;
    margin-left: 8px;
}

/* Section about CSS */
.section {
   

}

.section-about {
    margin-bottom: 50px;
}
.about-top{
    display: flex;
    flex-wrap: wrap;
}

.about-top img {
    width: 40%;
    margin-bottom: 50px;
    height: 500px;
    
}

.about-info {
    width: 50%;
    margin-left: 40px;
}

.about-info .hi {
    font-weight: bolder;
    margin-bottom: 80px;
}

.about-info h2 {
    font-size: 2.5rem;
    margin-bottom: 80px;
}

.about-info .achieve {
    display: inline-block;
    margin-right: 20px;
}

.about-info .achieve-number {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color : var(--primary-color)

} 

.about-info .achieve-name {
    display: inline-block;
} 

.about-bottom {
    margin-bottom: 120px;
}

.section-title {
    font-weight: bold;
    border-bottom: 4px solid var(--primary-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: inline-block;
    margin-bottom: 30px;
}

.about-bottom .desc {
    text-align: justify;
    line-height: 28px;
    color: var(--text-color);
}

.about-btn {
    margin: 40px auto;
    display: block;
    background: none;
    line-height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    
}
.about-btn:hover{
    background-color: #F26464;
    color: #FFF;
}
.ds-numbervalulist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

/* Skills section */

.section-skills {
    margin-bottom: 80px;
}

.skill-container {
    display: inline-block;
    width: 45%;
}


.skill-item {
    display: inline-block;
    padding: 0 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    line-height: 30px;
    border : 0.2px solid var(--primary-color);
    border-radius: 20px;
}


.section-experience {
    margin-bottom: 80px;
}

.exp-container {
    display: inline-block;
    width: 45%;
}

.exp-time {
    line-height: 30px;
    font-weight: bold;
}

.exp-task {
    line-height: 30px;
}

.exp-content {
    margin-top: 20px;
}

.exp-content li {
    margin: 20px 0;
    text-align: justify;
    margin-left: 40px;
    list-style: disc;
}
.ds-experience-section {
    padding-bottom: 120px;
}
.ds-work-tilte {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.ds-button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
}
/* Work section css */

.work-item {
    display: inline-block;
}