
    *{
    margin: 0;
    padding: 0;
    background-color: black;
}
.header{
    position: fixed;
 top: 0;
 width: 100%;
 height: 50px;
 display: flex;
 font-size:25px;
 gap: 500px;


 
}
.item1
{display:flex;
 gap: 30px;
 justify-content: start;
color: aliceblue;
}
.item2
{display:flex;
 gap: 30px;
justify-content: end;
color: aliceblue;
}
.content {
    height: 200vh;
    color: red;
}

